<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/css/login-window.css" rel="stylesheet" />

</head>
<body>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @RenderBody()

    @*@RenderSection("scripts", required: false)*@


    @*<script src="~/lib/videojs/dist/video-js/video.js"></script>*@
    <script src="~/lib/flat-ui/dist/js/flat-ui.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
