@using Trade_MVC6.Helpers
<!DOCTYPE html>
<html lang="ru" ng-app="mainApp">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Totler Electronics LLC</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/static.css" rel="stylesheet" />
    <link href="~/css/login-window.css" rel="stylesheet"/>
    <link href="~/lib/angular/angular-csp.css" rel="stylesheet"/>
    <link href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />

</head>
<body ng-init="antiforgery = '@Html.Raw(Context.RequestVerificationToken())'">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>*@
    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    <div class="container">
        @Html.Partial("Index.Menu")
        @RenderBody()
        <ng-view></ng-view>
    </div>


    @*@RenderSection("scripts", required: false)*@
    <script src="~/lib/videojs/dist/video-js/video.js"></script>
    <script src="~/lib/flat-ui/dist/js/flat-ui.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/js/angular-app.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
