@{
    ViewData["Title"] = "Домашня страница";
}
<div class="container">
    <div class="row navigation">
        <nav class="navbar navbar-default col-sm-12" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Totler Electonics</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <li><a href="#fakelink">Продукция</a></li> @*class="active"*@
                    <li class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Поддержка <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Статус гарантии</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Файловый архив</a></li>
                        </ul>
                    </li>
                    <li><a href="#fakelink">Контакты</a></li>
                    <li class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            О компании <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Лицензии и сертификаты</a></li>
                            <li><a href="#">Наши партнеры</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Фотоархив</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="#" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-rounded">
                            <input class="form-control" id="navbarInput-01" type="search" placeholder="Поиск ...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn"><span class="fui-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
                <button class="btn btn-default navbar-btn navbar-right btn-xs" type="button">B2B</button>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
    </div>

    <div ng-controller="homeCtrl">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>Тестовая страница нового приложения ;)</h1>
                </div>
            </div>
            <div class="row">
                <a href="/Home/option1/Привет от опции 1" class="btn btn-success">Option 1</a>
                <a href="/Home/option2/Привет от опции 2" class="btn btn-success">Option 2</a>
                <a href="/Home/option3/А это просто фак" class="btn btn-success">Option 3</a>
            </div>
            <div class="row">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
    <footer class="row">
        
    </footer>
</div>