@{
    ViewData["Title"] = "Домашня страница";
}
<div class="container">
    @Html.Partial("Index.Menu")

    <ng-view></ng-view>

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Авторизованный пользователь: @User.Identity.Name
            @Html.ActionLink("Выход", "LogOut", "Account", null, new { @class = "btn btn-danger" } )
        </div>
    }
    @*<div ng-controller="homeCtrl">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>Тестовая страница нового приложения ;)</h1>
                </div>
            </div>
            <div class="row">
                <a href="/Home/option1/Привет от опции 1" class="btn btn-success">Option 1</a>
                <a href="/Home/option2/Привет от опции 2" class="btn btn-success">Option 2</a>
                <a href="/Home/option3/А это просто фак" class="btn btn-success">Option 3</a>
            </div>
            <div class="row">
                <ng-view></ng-view>
            </div>
        </div>
    </div>*@
    @*<footer class="row"></footer>*@
</div>