<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Произошла ошибка</h1>
        <p>
            Аккаунт заблокирован.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Вернуться на главную страницу</a>
    </div>
</div>