@model string

<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Изменение пароля учётной записи</h1>
        <p>
            Инструкции по изменению пароля учётной записи отправлены на
            адрес электронной почты:
        </p>
        <p>
            @Model
        </p>
        @Html.ActionLink("Вернуться на главную", "Index", "Home", null, new { @class = "btn btn-success" })
    </div>
</div>