<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Изменение email прошло успешно</h1>
        <p>
            Email учетной записи был успешно изменен и
            подтвержден.
        </p>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Вернуться на главную</a>
    </div>
</div>