<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Изменение пароля прошло успешно</h1>

        <a asp-action="Login" asp-controller="Account" class="btn btn-success" asp-route-returnurl="@Url.Action("Index", "Home")">Вход</a>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Вернуться на главную</a>
    </div>
</div>