@model string
<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Регистрация аккаунта</h1>
        <p>
            Регистрация прошла успешна.
            Письмо с инструкциями по подтверждению электронного адреса
                Вашей учетной записи выслано на указанный адрес Email:
        </p>
        <p>@Model</p>
        <p>
            Для работы в системе B2B допускаются пользователи допущенные администратором
            и успешно подтвердившие адрес электронной почты.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Вернуться на главную</a>
    </div>
</div>