<div class="col-lg-offset-2 col-lg-8 panel panel-default">
    <div class="panel-body">
        <h1>Подтверждение email прошло успешно</h1>
        <p>
            Ожидайте активации учетной записи Администратором.
            Уведомление будет отправлено на подтверждённый адрес.
        </p>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Вернуться на главную</a>
    </div>
</div>