@using Trade_MVC6.Models.Account
@model  Trade_MVC6.Models.Account.ForgotPasswordViewModel

<article class="row">
    <div class="col-md-offset-1 col-md-10 panel panel-default">
        <h3 class="panel-heading">Страница востановления пароля</h3>
        <form class="form-horizontal panel-body" role="form" asp-antiforgery="true">
            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>

            <div class="form-group">
                <label class="col-lg-2" asp-for="Email">Email или Логин</label>
                <div class="col-lg-10">
                    <span asp-validation-for="Email"></span>
                    <input type="text" class="form-control" placeholder="" asp-for="Email"/>
                </div>
            </div>

            <input id="confirm" type="submit" class="btn btn-success" value="Готово"/>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Отмена</a>
        </form>
    </div>
</article>
