@using System.Threading.Tasks
@model Trade_MVC6.ViewModels.Account.LoginViewModel

<main class="Login-window row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <img src="~/images/login.jpg" />
            <form asp-antiforgery="true" class="form-horizontal panel-body" role="form">
                <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
                <input name="returnUrl" type="hidden" value="@ViewData["ReturnUrl"]" />

                <div class="form-group">
                    <label asp-for="Login" class="col-lg-2"></label>
                    <div class="col-lg-10">
                        <input asp-for="Login" type="text" class="form-control" placeholder="Введите email или псевдоним" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-lg-2"></label>
                    <div class="col-lg-10">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <label class="checkbox" for="checkbox">
                            <input type="checkbox" data-toggle="checkbox" asp-for="RememberMe" id="checkbox" />
                            Запомнить ?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                        <button type="submit" class="btn btn-lg btn-success">Вход</button>
                    </div>
                    <div class="col-lg-offset-1 col-lg-4 ">
                        <div class="btn-group-vertical">
                            <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-xs">Регистрация</a>
                            <a asp-action="ForgotPassword" asp-controller="Account" class="btn btn-warning btn-xs">Восстановить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    $(function () {
        $('[data-toggle="checkbox"]').radiocheck();
    });
</script>