@using TotlerCore.BLL.Interfaces
@using Trade_MVC6.Models.Account
@using Trade_MVC6.Services
@inject IJsonSerializer Serializer
@model Trade_MVC6.Models.Account.ProfileViewModel

<main ng-init="Ctrl.data = @Html.Raw(HtmlEncoder.HtmlEncode(await Serializer.StringifyAsync(Model)))">
    <form name="profileForm" class="panel panel-default form-horizontal" novalidate ng-submit="Ctrl.save()">
        <h1 class="panel-heading col-lg-12">Учетная запись</h1>
        <div class="panel-body" ng-cloak>
            <div class="form-group col-lg-12">
                <span class="text-primary">Статус : {{Ctrl.access1C}}</span>
            </div>
            <div class="form-group">
                <label class="col-lg-2">Псевдоним</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.Nickname" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2">Компания</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.CompanyName" ng-readonly="!Ctrl.allowChangeCompany" type="text" />
                </div>
            </div>

            <div class="form-group ">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-warning" type="button" ng-click="Ctrl.changeCompany()">Изменить</button>
                </div>
                <div class="col-lg-offset-2 col-lg-10">
                    <label class="text-info">Изменение названия компании потребует повторной авторизации аккаунта администратором.</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.Email" type="email" readonly />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-primary" type="button" ng-if="Ctrl.data.EmailConfirmed" ng-click="Ctrl.changeEmail()">
                        Изменить
                    </button>
                    <button class="btn btn-primary" type="button" ng-if="!Ctrl.data.EmailConfirmed" ng-click="Ctrl.sendConfirmation()">
                        Выслать подтверждение
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2">Имя</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.Contact.Name" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2">Фамилия</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.Contact.Surname" type="text" />
                </div>
            </div>

            <div class="form-group" ng-class="profileForm.formPhone.$valid ? 'has-success' : 'has-error'">
                <label class="col-lg-2">Телефон</label>
                <div class="col-lg-10">
                    <input name="formPhone" class="form-control" type="tel" ng-model="Ctrl.data.Contact.ContactPhone"
                           pattern="^\+(?:[0-9]●?){6,14}[0-9]$" placeholder="+375XXXXXXXXX" />
                    <span ng-show="profileForm.formPhone.$invalid && profileForm.formPhone.$dirty">
                        Введите действительный телефон в международном формате.
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2">Skype</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="Ctrl.data.Contact.SkypeId" type="text" />
                </div>
            </div>

            <div class="form-group" ng-class="profileForm.formICQ.$valid ? 'has-success' : 'has-error' ">
                <label class="col-lg-2">ICQ</label>
                <div class="col-lg-10">
                    <input name="formICQ" class="form-control" ng-model="Ctrl.data.Contact.IcqId" type="text" maxlength="10" pattern="^[0-9]{1,10}" />
                    <span class="text-danger" ng-show="profileForm.formICQ.$invalid && profileForm.formICQ.$dirty">
                        Введите действительный адрес ICQ.
                    </span>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <button class="btn btn-primary" type="submit" ng-disabled="profileForm.$invalid || Ctrl.sendingData">Сохранить</button>
                <button class="btn btn-warning" type="button" ng-disabled="Ctrl.sendingData" ng-click="Ctrl.cancel()">Отмена</button>
            </div>

        </div>
    </form>
</main>