<main class="row">
    <h3>Административный раздел</h3>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Пользователи"><user-managment></user-managment></uib-tab>
        <uib-tab index="1" heading="Настройки сервера"><server-managment></server-managment></uib-tab>
    </uib-tabset>
</main>
