<article class="row sert">
    <div class="panel">
        <div class="panel-body">
            <h1>Список сертификатов нашей компании: </h1>
            <p>
                ООО "Тотлер Электроникс" является официальным представителем компаний LG, Samsung и Supermicro на территории Республики Беларусь,
                занимается оптовыми поставками компьютерной техники указанных производителей для корпоративных клиентов
                по одним из самых конкурентных цен в РБ.
            </p>
            <p>
                ООО «Тотлер Электроникс» разрабатывает и устанавливает своим клиентам технику собственного производства, основанную на комплектующих
                мировых лидеров индустрии. Компьютерная техника «Тотлер Электроникс» под торговыми марками "TOTLER" и "SM." сопоставима по качеству с ведущими
                изделиями международных производителей, но более доступна в цене и проста в обслуживании.
            </p>
            <p>
                При производстве вычислительной техники используются современные технологии контроля и тестирования, позволяющие обеспечить высочайшее
                качество продукции. Особое внимание уделено функциональному тестированию и контролю качества на всех этапах производства, что позволяет
                обеспечить надёжность и безотказность работы
            </p>
            <p>
                Наши специалисты проходят обучение у ведущих производителей оборудования и регулярно повышают свою квалификацию.
            </p>

            <h2>Сертификаты на производство серверов под тороговой маркой "SM." и "TOTLER"</h2>

            <section>
                <a href="images/Sert/FullSize/el_a_fs.jpg" class="col-sm-2" rel="group">
                    <img src="images/Sert/Preview/el_a_pv.jpg" alt="">
                </a>
                <a href="images/Sert/FullSize/el_b_fs.jpg" class="col-sm-2" rel="group">
                    <img src="images/Sert/Preview/el_b_pv.jpg" alt="">
                </a>
            </section>
        </div>
    </div>
</article>