<article class="row text-nowrap contact">
    <div class="panel">
        <h1> ООО "Тотлер Электроникс": </h1>
        <address>
            <p>
                220019, Республика Беларусь, Минская область, Минский район, Щомыслицкий с/с, <br>
                направление ТЭЦ-4, 3-й переулок Монтажников, 3-16, пом. 1 <br>
                <img src="images/Logo/phone_logo.svg">
                +375 17 201-16-63
                <img src="images/Logo/fax.svg">
                +375 17 201-16-62 <br>
                <img src="images/Logo/email_logo.svg">
                <a href="mailto:price@totler.by">price@totler.by</a>
            </p>
            <p>
                <strong>Банковские реквизиты:</strong><br>
                УНП 691800115<br>
                р/с № 3012039562012 в ОАО «Приорбанк», ЦБУ 109, г. Минск, ул. Притыцкого, 105, код 749,<br>
                МФО 153001749,<br>
                <img src="images/Logo/phone_logo.svg">
                +375 17 308-80-97
            </p>
        </address>

        <address class="col-md-4 col-sm-12">
            <strong>Отдел продаж</strong><br>
            <img src="images/Logo/Mobile/velcom_logo.svg">
            +375 29 623 24 54<br>
            <img src="images/Logo/skype_logo.svg">
            <a href="skype:wokerbvl.?chat">wokerbvl.</a><br>
            <img src="images/Logo/email_logo.svg">
            <a href="mailto:woker@totler.com">woker@totler.com</a>
        </address>

        <address class="col-md-4 col-sm-12">
            <strong>Центр технической поддержки</strong><br>
            <img src="images/Logo/Mobile/velcom_logo.svg">
            +375 29 643 67 78<br>
            <img src="images/Logo/skype_logo.svg">
            <a href="skype:totler.it?chat">totler.it</a><br>
            <img src="images/Logo/email_logo.svg">
            <a href="mailto:IT@totler.com">IT@totler.com</a>
        </address>

        <address class="col-md-4 col-sm-12">
            <strong>Бухгалтерия</strong><br>
            <img src="images/Logo/Mobile/velcom_logo.svg">
            +375 29 608 39 88<br>
            <img src="images/Logo/skype_logo.svg">
            <a href="skype:lorakudri?chat">lorakudri</a><br>
            <img src="images/Logo/email_logo.svg">
            <a href="mailto:larisa@totler.com">larisa@totler.com</a>
        </address>
    </div>
</article>
