<article class="row partnerlist">
    <div class="panel">
        <div class="panel-body">
            <h2 class="text-info">О нашей компании</h2>
            <p>
                Компания «Тотлер Электроникс» – широкопрофильный дистрибьютор, поставляющий на рынок Республики Беларусь продукцию
                ведущих мировых производителей в ассортименте: телевизоры, мониторы, серверы и СХД под собственными торговыми марками,
                периферийное оборудование, гостиничное оборудование, мобильные средства связи и многое другое.
            </p>
            <p>
                Дистрибуторский портфель включает такие бренды как Samsung, LG, Supermicro, Intel и другие.
            </p>
            <p>
                Среди преимуществ компании можно отметить: Логистика – возможность доставки товара по всей территории РБ, страховка целостности
                груза, короткие сроки доставки; Техническая поддержка - предпродажные технические консультации, оперативность принятия
                решения по гарантийному обслуживанию; Финансы - гибкая кредитная линия, бонусная система.
            </p>

            <h1 class="text-info">Наши партнеры</h1>
            <section>
                <h3 class="text-center text-info">LG Electronics Inc</h3>
                <img src="images/Partners/lg_logo.svg">
                <p>
                    Компания LG Electronics Inc. — признанный лидер в области электроники и телекоммуникаций. Компания имеет 72 подразделения
                    по всему миру и насчитывает 56 215 сотрудников: 30 840 в Корее и 25 375 за пределами страны.
                </p>
                <p>
                    Компания была основана 1 октября 1958 года. Основной продукцией компании является производство цифровых телевизоров,
                    приводов CD-ROM и DVD-ROM, мониторов, компьютеров, плазменных дисплеев, кинескопов для мониторов и телевизоров,
                    средств мобильной связи.
                </p>
                <p>
                    Компания LG Electronics - мировой лидер в сфере электроники и телекоммуникаций с момента основания в 1958 году.
                    Компанией представлены первые в Корее радио, телевизор, холодильник, стиральная машина и кондиционер
                </p>
                <a href="http:\\www.lg.com" rel="nofollow" target="_blank">www.lg.com</a>
            </section>
            <hr>
            <section>
                <h3 class="text-center text-info">Samsung</h3>
                <img src="images/Partners/sams_logo.svg">
                <p>
                    Samsung Electronics Co., Ltd. является ведущим мировым поставщиком потребительской электроники и ключевых компонентов для ее
                    производства. Уделяя большое внимание исследованиям и инновациям, они меняют мир телевизоров, смартфонов, персональных компьютеров,
                    принтеров, камер, бытовых приборов, медицинских устройств, полупроводников и светодиодных решений. В 80 странах у них работают 286 000
                    человек, а годовой объем продаж компании превышает $216,7 млрд. Основна цель – открывать новые возможности для людей во всех уголках
                    планеты.
                </p>
                <p>
                    Благодаря технологиям Samsung, все то, о чем мы так давно мечтали, становится возможным уже сейчас.
                </p>
                <a href="http:\\www.samsung.com" rel="nofollow" target="_blank">www.samsung.com</a>
            </section>
            <hr>
            <section>
                <h3 class="text-center text-info">Supermicro</h3>
                <img src="images/Partners/sm_logo.svg">
                <p>
                    Компания Supermicro, основанная в 1993 году является признанным мировым лидером в проектировании, производстве и поставке серверных
                    решений. Центральный офис Supermicro располагается в городе Сан Хосе (San Jose, California, USA), в знаменитой Силиконовой долине -
                    центре мировой IT индустрии, и занимает площадь 45.000 кв. футов. С упором на качество и традицию быть первым на рынке, Supermicro
                    поставляет свою продукцию в более чем 130 стран мира. Одним из важнейших видов деятельности компании является производство
                    высококачественных решений для серверов. При этом компания производит как высоко функциональные продукты для коммерческого использования,
                    так и решения для серверов начального уровня
                </p>
                <p>
                    Продукция Supermicro находится вне конкуренции по всем параметрам, благодаря лучшей на рынке производительности по приемлемым ценам,
                    обладая самым широким спектром решений, покрывающим все нужды самого взыскательного клиента, самой быстрой поставки решений на рынок.
                </p>
                <a href="http:\\www.supermicro.nl" rel="nofollow" target="_blank">www.supermicro.nl</a>
            </section>
            <hr>
            <section>
                <h3 class="text-center text-info">Intel</h3>
                <img src="images/Partners/int_logo.svg">
                <p>
                    Корпорация Intel — ведущий мировой производитель инновационных полупроводниковых компонентов — разрабатывает технологии, продукцию и
                    инициативы, направленные на постоянное повышение качества жизни людей и совершенствование методов их работы, является крупнейшим производителем
                    микропроцессоров, а также одним из ведущих производителей оборудования для персональных компьютеров, компьютерных сетей и средств связи.
                    Корпорация существует с 1968 года.
                </p>
                <p>
                    Все решения Intel разработаны специально для домашних ПК, малого бизнеса и крупных предприятий. За свою историю, компания стала
                    одной из наиболее авторитетных в мире, а качество продуктов и уровень услуг и технической поддержки считаются эталоном в своей отрасли.
                    Стоит отметить, что спецификации на все порты, шины, системы команд были разработаны Intel или компаниями, сотрудничающими с ней.
                    Сегодня Intel, помимо всего прочего, поставляет компаниям компьютерной и телекоммуникационной отраслей микросхемы, платы и конструктивные
                    блоки, составляющие основу для компьютеров, серверов и сетевого оборудования. На основе этой продукции создаются самые современные
                    вычислительные и коммуникационные системы.
                </p>
                <a href="http:\\www.intel.com" rel="nofollow" target="_blank">www.intel.com</a>
            </section>
            <hr>
            <section>
                <h3 class="text-center text-info">Microsoft</h3>
                <img src="images/Partners/ms_logo.svg">
                <p>Microsoft – мировой лидер в области ИТ.</p>
                <p>
                    Корпорация Microsoft открыла представительство в России в 1992 году. Сегодня компания представлена во всех регионах, офисы открыты
                    в 70 городах. Среди партнеров Microsoft более 9 500 компаний.
                </p>
                <p>
                    Портфель продуктов Microsoft включает операционные системы, серверные приложения для экосистем типа «клиент-сервер», настольные
                    бизнес-приложения и офисные приложения для конечных пользователей, интерактивные программы и игры, средства для работы в Интернет и
                    инструменты разработки.
                </p>
                <p>
                    В число приоритетных областей для Microsoft входят исследования и инновации: в 2010 году корпорация вложила в данное направление
                    около 9 млрд долларов США.
                </p>
                <a href="http:\\www.microsoft.com" rel="nofollow" target="_blank">www.microsoft.com</a>
            </section>
            <hr>
            <section>
                <h3 class="text-center text-info">Open-E</h3>
                <img src="images/Partners/opene_logo.svg">
                <p>
                    Open-E, Inc. разработчик программного обеспечения для систем хранения данных с доступом по IP протоколу имеет штаб-квартиры в
                    Соединенных Штатах и в Европе. Компания Open-E была создана в 1998 году в Германии, но головной офис был перенесен в США после получения
                    финансирования венчурного капитала от OpenView Venture Partners в 2007 году. Продукты ее распространяются через сеть партнёров по всему
                    миру. продуктовые линейки Data Storage Software (DSS) V6 и V7 ориентированные на предприятия малого и среднего бизнеса имеют заслуженную
                    международную репутацию лучших в своём классе по производительности, гибкости в настройке, надежности, масштабируемости и окупаемости.
                </p>
                <p>
                    Продукты управления хранилищами от Open-E известны на рынке СХД своей прочной архитектурой, легкого управления и доступных цен.
                    Продукты также очень гибкие и поддерживают широкий спектр протоколов, как например: iSCSI, FibreChannel или Infiniband, с файловой или
                    блочной передачей данных. Open-E сотрудничает с лидирующими на рынке информационных технологий компаниями с тем, чтобы предоставить свое ПО
                    на разных промышленных стандартных аппаратных платформах.
                </p>
                <a href="http:\\www.open-e.com" rel="nofollow" target="_blank">www.open-e.com</a>
            </section>
        </div>
    </div>
</article>