<article class="rev_info row">
    <h3 class="text-center text-info">Наша компания готова предложить Вам портфель готовых серверных решений: </h3>
    <table border="0">
        <tbody>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_1.jpg"></td>
                <td>
                    <p>Однопроцессорные энергоэффективные производительные серверы, ориентированные на малый и средний бизнес. Некоторые модели данной линейки имеют пониженный уровень шума и выполнены в компактном форм-факторе, что позволяет размещать устройства непосредственно в офисном помещении.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_2.jpg"></td>
                <td>
                    <p>Двухпроцессорные бюджетные серверы с низким энергопотреблением, совмещающие в себе лучшее соотношение производительности и цены. Данную серию отличает сбалансированная архитектура и широкие возможности масштабирования. Возможно приобрести сервер с одним установленным процессором, чтобы в дальнейшем наращивать мощность системы по мере увеличения нагрузки на нее. Заказ сервера возможен в базовой или индивидуальной конфигурации. Точный состав комплектующих и общая архитектура решения выбирается в зависимости от задачи заказчика.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_3.jpg"></td>
                <td>
                    <p>Надежные и высокопроизводительные двухпроцессорные системы и решения высокой плотности, ориентированные на виртуализацию, терминальные сессии, VDI и HPC-задачи. Дублирование важных компонентов системы, горячая замена, а также максимальная производительность позволяют позиционировать данные серверы как основные в вычислительных и дата-центрах. Несмотря на сложность систем, производство и продажа серверного оборудования осуществляется в кратчайшие сроки. Широкий набор моделей в данной линейке позволяет подобрать устройство под любую задачу.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_4.jpg"></td>
                <td>
                    <p>Мощные четырехпроцессорные серверы, ориентированные на средний и крупный бизнес, позволяют размещать максимальное количество процессоров и оперативной памяти в пересчете на юнит. Данные серверы предназначены для центров обработки данных, виртуализации и сложных расчетных задач и могут быть использованы как главные и максимально надежные в стоечных решениях. Все модели возможно объединять в кластеры для создания вычислительных и рендер-ферм.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_twin.jpg"></td>
                <td>
                    <p>Серверные решения с несколькими узлами - отличное решение при выборе сервера для высокопроизводительных вычислений, кластеров и центров обработки данных. Являют собой эволюцию серверов в виде увеличения производительности за ватт, единицу стоимости при прежней простоте обслуживания. Каждый такой сервер обладает избыточными блоками питания и несколькими жесткими дисками, для создания RAID массива, совместим с существующими серверами, и может быть легко интегрирован в состав кластера.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_microcloud.jpg"></td>
                <td>
                    <p>Микро-облачные решения являются дальнейшим развитием серверных решений с несколькими узлами. Данные платформы пользуются большой популярностью в качестве недорогой альтернативы блейд-серверам: интеграции коммутаторов в шасси тут, конечно нет, но частичная консолидация питания/охлаждения, возможность установки стандартных плат расширения форм-фактора MD2 и невысокая цена перевешивают эти недостатки. Высокая плотность, высокая производительность, высокая эффективность и экономичность. Простота в обслуживании и экономия пространства. Достойное решение для облачных вычислений и веб-хостинга. </p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_microblade.jpg"></td>
                <td>
                    <p>Блейд-сервер обеспечивает высочайшую производительность на каждый Ватт, до 56 физических процессоров всего лишь в 7U, Энергоэффективность до 93%. Блэйд система является отличным решением для следующих задач: промышленная эксплуатация, вычислительный центр для финансовых структур, "тяжелые" базы данных, научные вычисления, высокопроизводительные пользовательские приложения.</p>
                </td>
            </tr>
        </tbody>
    </table>
</article>