<article class="rev_info row">
    <h3 class="text-center text-info">
        Наша компания готова предложить Вам системы хранения данных:
    </h3>
    <p>Накопленная информация обладает безусловной ценностью для любой организации. Актуальную проблему сохранения и использования жизненно важных данных помогут решить системы хранения и управления информацией от ООО "Тотлер трэйд". В продуктовой линейке наших СХД представлены решения самых разных категорий - от небольших офисных систем с жесткими дисками SATA до емких, отказоустойчивых и масштабируемых систем уровня предприятия.</p>
    <table border="0">
        <tbody>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_jbod.jpg"></td>
                <td>
                    <p>Дисковые полки JBOD с высокой плотностью размещения дисков, средствами повышения надежности доступа и доступной ценой — отличный выбор для расширения доступного пространства на основном или резервном хранилище данных.</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_jbod2.jpg"></td>
                <td>
                    <p>Бюджетные сетевые хранилища емкостью до 32 Тб предназначены для небольших сетей, ориентированы на малый и средний бизнес как дисковые хранилища информации, так и небольшие серверы видеонаблюдения. СХД подключаются к сети Ethernet, управление осуществляется через web-интерфейска (Используемое ПО Nas4Free, FreeNAS, Open-E).</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_jbod3.jpg"></td>
                <td>
                    <p>Дисковые массивы среднего ценового диапазона, обеспечивающие надежное хранение данных, представляют собой масштабируемые дисковые полки для подключения к существующему серверу. В сервере должен быть установлен контроллер SAS c внешними разъемами. Система хранения данных управляется через контроллер сервера (Используемое ПО Nas4Free, FreeNAS, Open-E).</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_jbod4.jpg"></td>
                <td>
                    <p>Сетевые системы хранения данных энтерпрайз имеют гибкие возможности конфигурирования и масштабирования. Поддерживается подключение по FC и ISCSI. Ёмкость СХД составляет от 1 до 144Тб для одной дисковой системы хранения данных. (Используемое ПО Open-E).</p>
                </td>
            </tr>
            <tr>
                <td><img class="visible-lg visible-md visible-sm" src="images/SM_photo/supermicro_jbod5.jpg"></td>
                <td>
                    <p>
                        Индивидуальные системы хранения данных на базе ПО Open-E имеют непревзойденную надежность и поддержку. Open-E имеет большую пользовательскую базу: более 27000 инсталляций в компаниях из списка Fortune-500. Широкие возможности по обеспечению защиты данных, размещаемых на Open-E: программный или аппаратный RAID для защиты от выхода из строя дисков, репликация по iSCSI и FC, создание 2-узловых active-active iSCSI кластеров. <br>
                        В стоимость решения на базе Open-E может быть включена круглосуточная техническая поддержка. <br>
                        Лучшее соотношение цена/производительность - Open-E поддерживает широкий список серверного оборудования. Вы сможете обеспечить модернизацию или ремонт вашей СХД по оптимальной цене. <br>
                        Совместимость - Open-E обеспечивает совместимость с необходимыми ОС и сервисами: VMware ESXi, Microsoft Windows, Linux, различные UNIX-системы, Mac OS. <br>
                        Простота администрирования - Open-E управляется через интуитивный web-интерфейс.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</article>