<article class="vacancy row">
    <div class="panel">
        <div class="panel-body">
            <h1 class="text-info">Вакансии</h1>
            <p>
                На данный момент свободных вакансий нет.
            </p>
            <p>
                Но Вы можете оставить свое резюме, потому что мы всегда заинтересованы в кадровом резерве. Пожалуйста, присылайте Ваше резюме на электронный адрес
                <a href="mailto:info@totler.by">info@totler.by</a>
            </p>
            <p>
                Информацию о вновь появившихся вакансиях ищите на нашем сайте.
            </p>
        </div>
    </div>
</article>